body{
    background-color: black;
    font-family: Arial, sans-serif;
}

h1{
 color: white;
 text-align: center;
}

.buttons{
    margin: 0 10px;
    text-align: center;
  }

  .buttons li a{
    text-decoration: none;
    color: white;
    position: relative;
  }
  
    .buttons li a::after{
    content: '';
    background: blue;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
  }
  
  .buttons li a:hover::after{
    width:100%;
  }